<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Cache-control" content="no-cache">
  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <script src="{% static 'jquery-2.2.4.min.js' %}">
  </script>

  <title>
    Choose files
  </title>
</head>
<body>
  <header>
   <h1 class="doctitle">
    Topic Viewer
  </h1>
  <br><br>
  <h2 class="info">Select.txt files:</h2>
</header>
<br>
<div id="formdiv" align="center">

<form action=""  enctype="multipart/form-data" id="uploadform" method="POST">
  {% csrf_token %}
  </p>
  <label id="inputfile">Choose file
    {{ form.errors }}
    {{ form.non_field_errors }}
    {{ form }}
 </label>

 <label for="submitId" id="submitlabel">Get topics!
   <input id="submitId" class="submit" type="submit" />
 </label>
</form>

<div class="loader">
  <img src="{% static 'imgs/loader.gif' %}">
  <p>Text processing...<br>It may take a few minutes.</p></div>
  <br>
  <h2 class="warning">Ops, some files don't have a .txt extension!</h2>
</div>
<footer class="footer">
</footer>
<script type="text/javascript">

$('#id_name_file').on('change', function ()
{
  for (var i = 0; i < this.files.length; i++)
  {
    if (this.files[i].name.match(/.txt$/)) {
      $('.warning').css('display','none');
      $('#submitlabel').css('display','inline-block');
      $('#inputfile').css('margin-right','5%');
    }
    else{
      $('#submitlabel').css('display','none');
      $('.warning').css('display','inline-block');
    }
  }
});

$('#submitlabel').click(function(){
  $('#uploadform').submit();
  $('body').css('opacity','0.7');
  $('#inputfile').css('pointer-events','none');
  $('#submitlabel').css('pointer-events','none');
  $('.loader').css('display','inline-block');
});

</script>
</body>
</html>